* {
    margin: 0;
}

html {
    box-sizing: border-box;
}
    
nav {
    display: flex;
    justify-content: space-between;
    background: #ff8e71;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

nav #nav-flex {
    display: flex;
    margin-right: 40px;
}

nav .nav-item {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #583d72;
}

h1 {
    color: white;
    font-family: 'Londrina Solid', cursive;
    font-size: 75px;
}

p {
    color: #ffba93;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}